---
import { Image } from "astro:assets";
export interface Props {
  title: string;
  siteName?: string;
  image: string;
  width: number;
  height: number;
  url: string;
}

const { title, width, height, siteName, image, url } = Astro.props;
---

<div class="card">
  <a href={url} target="_blank">
    <Image
      src={image}
      alt={title}
      width={300}
      height={300 / (16/9)}
    />

    <div class="meta">
      <p class="site-name">
        {siteName}
      </p>

      <p class="title">
        {title}
      </p>
    </div>
  </a>
</div>

<style>
  div.card {
    width: 300px;
    background-color: white;
    border-radius: 8px;
    outline: 1px solid #dedede;
    transition: box-shadow 0.5s;
  }

  div.card:hover {
    box-shadow: 0 0 15px -5px #91908d;
    transition: box-shadow 0.5s;
  }

  div.meta {
    padding: 5px;
  }

  img {
    display: block;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
  }

  a,
  a:hover,
  a:visited {
    text-decoration: none;
  }

  p {
    margin: 0;
  }

  p.site-name {
    color: #5e5e5e;
    font-size: 0.7rem;
  }

  p.title {
    color: #1f1000;
  }
</style>
