---
import Author from "../components/Author.astro";

export interface Props {
  title: string;
  authors: string[];
  publisher?: string;
  publishedDate?: string;
  location?: string;
  url?: string;
}

function isMe(name: string) {
  return name === "Kazuki Hamasaki" || name === "濱崎 一樹";
}

const { title, authors, publisher, publishedDate, location, url } = Astro.props;
---

<div>
  <h3><a href={url} target="_blank">{title}</a></h3>
  <p>
    {
      authors.map((author, index, array) => {
        return (
          <>
            {isMe(author) ? <strong>{author}</strong> : author}
            {array.length - 1 === index ? "" : ", "}
          </>
        );
      })
    },
    {publisher},
    {publishedDate}
  </p>
</div>

<style>
  h3 {
    font-size: 1rem;
    margin-block-end: 0;
  }

  p {
    font-size: 0.8rem;
    margin: 0;
  }
</style>
